body {
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54), rgb(54, 54, 54));
}

#cartas {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.carta {
  background-image: url(./carta.png);
  width: 7vw;
  height: 18vh;
  background-size: cover;
}

.naipe {
  background-image: url(cartas.png);
  background-size: 91vw 72vh;
  width: 7vw;
  height: 18vh;
}