
@font-face {
  font-family: 'fonteBalatro'; /* A unique name for your font */
  src: url('./balatroFont.woff2') format('woff2'); /* Path to your WOFF2 font file */
  font-weight: normal; /* Optional: Define font weight if multiple weights exist */
  font-style: normal;  /* Optional: Define font style (e.g., italic) */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background: linear-gradient(rgba(24, 95, 10, 0.438), rgba(27, 107, 11, 0.438), rgba(33, 128, 14, 0.438));
  flex-direction: row;
  overflow: hidden;
}

#abelDeTras{
  height: 180vh;
  width: 180vw;
  background-image: url(./abelDoWhatsapp.png);
  animation: abel 15s ease-in-out;
  animation-iteration-count: infinite;
  position: absolute;
  z-index: -1;
  animation-direction: alternate-reverse;
  background-size: 3vw,3vh;
  opacity: 40%;
}

/* @keyframes abel{
  0%{
    transform: scale(1) skewX(0deg)  rotate(0deg) ;
  }
  100%{
    transform: scale(2)  skewX(50deg)  rotate(360deg) ;
  }
} */

#blind {
  background: linear-gradient(rgb(54, 54, 54), rgb(54, 54, 54), rgb(54, 54, 54));
  height: 100vh;
  width: 25vw;
}

#jokers {
  width: 75vw;
  height: 25vh;
}

#jogo {
  width: 75vw;
  height: 40vh;
}

#cartas {
  width: 75vw;
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

#botoes {
    width: 75vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#multiAbel{
    width: 8vw;
    height: 6vh;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(238,66,56,255);
    position: absolute;
    top: 58vh;
    left: 1vw;
    margin-left: 30px;
}
#caixa{
    width: 21vw;
    height: 20vh;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(27,38,40,255);
    position: absolute;
    top: 46vh;
    left: 1vw;
    margin-left: 1vw;
}

#hands{
    width: 10vw;
    height: 7vh;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(27,38,40,255);
    position: absolute;
    top: 70vh;
    left: 4vw;
    margin-left: 1vw;
}

#handsT{
  width: 10vw;
    height: 7vh;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(47, 58, 60);
    position: absolute;
    top: 70vh;
    left: 4vw;
    margin-left: 1vw;
}

#score{
  width: 20vw;
  height: 6vh;
  display: flex;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  
  background-color: rgba(27,38,40,255);
  position: absolute;
  top: 36vh;
  left: 1vw;
  margin-left: 1vw;
  padding: 0 20px;
}

p{
  color: white;
  font-family: "fonteBalatro";
  font-size: 20px;
  margin: 0px
  
}

#score2{
  width: 13vw;
  height: 4vh;
  display: flex;
  border-radius: 8px;
  background-color: rgba(47,58,60,255);
  left: 5vw;  
  bottom: 0.5vw;
}

#abeis{
    width: 8vw;
    height: 6vh;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(5,144,245,255);
    position: absolute;
    top: 58vh;
    left: 10vw;
    margin-left: 4vw;
}

#Mao{
  background-color:rgba(5,144,245,255);
}

#descartar{
  background-color: rgba(238,66,56,255);
  color:rgba(252,247,254,255);
}

.botoes{
  width: 10vw;
  height: 8vh;
  border-radius: 10%;
  color:rgba(252,247,254,255);
  font-family: "fonteBalatro";
  font-size: 20px;
}

.spawn {
  animation: spawn 850ms;
  animation-timing-function: cubic-bezier( 0.35,0.02, 0.00,2.08 ) ;
}

.carta {
  background-image: url(./carta.png);
  width: 7vw;
  height: 19.8vh;
  background-size: cover;
  transition: 80ms ease-in-out;
  position:relative;
}

.carta:hover {
  transform: translateY(-6px);
  transform: rotate(-8deg);
  width: 7vw !important;
  height: 19.8vh !important;
}

.naipe {
  margin-top: 0.8vh;
  background-image: url(cartas.png);
  background-size: 91vw 72vh;
  width: 7vw;
  height: 18vh;
}

.naipe:hover {
  width: 7vw !important;
  height: 18vh !important;
}

.naipeSpawn{
  animation: naipeSpawn 850ms;
}


@keyframes spawn {
  0% {
    transform: translateX(650px);
    background-image: url(./carta.png);
    rotate: -35deg;
  }
  
  50% {
    transform: rotateY(180deg);
    background-image: url(./back-carta.png);
  }
  
  90%{
    background-image: url(./carta.png);
  }
  
  100% {
    rotate: 0deg;
    transform: rotateY(360deg);
    transform: translateX(0px);
  }
}

@keyframes naipeSpawn {
  0% {
    opacity: 100%;
  }

  30% {
    opacity: 0%;
  }

  50% {
    opacity: 0%;
  }

  90%{
    opacity: 100%;
  }
}
